<header class="bg-black">
    <div class="max-w-full mx-auto px-9 py-4 flex justify-between items-center">
        <h1 class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold text-white">MediLocker AI</h1>
        <nav class="space-x-1">
            <a href="{% url 'home' %}" class="text-gray-400 text-sm sm:text-base md:text-lg hover:text-white">Home</a>
            <a href="{% url 'research' %}" class="text-gray-400 text-sm sm:text-base md:text-lg hover:text-white">Research</a>
            <a href="{% url 'about_us' %}" class="text-gray-400 text-sm sm:text-base md:text-lg hover:text-white">About Us</a>
        </nav>
    </div>
</header>
